@import "../../styles/global.scss";

.primary {
  color: $black;
}

.accent {
  color: $white;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.sizeS {
  @include font($size: 0.875);
}

.sizeM {
  @include font($size: 1);
}

.sizeL {
  @include font($size: 1.2);
}

.bold {
  font-weight: 700;
}
