@import '../../shared/styles/global.scss';

.wrapper {
    display: flex;
    background: $header;
    height: 4rem;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.buttons {
    margin-left:3.875rem;
}
